@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: "Jost", serif;
}

main{
    max-width: 1111px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.logo img{
    width: 196px;
    height: 24px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 42px;
    color: #333136;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 100%;
}

.banner{
    background-color: #E7816B;
    color: #FFFFFF;
    border-radius: 15px;
    background-image: url(images/image-hero-phone.png);
    background-repeat: no-repeat;
    background-position: 550px -40px;
    position: relative;
}

.banner:before{
    content: url(images/banner-oval.png);
    width: 640px;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
}

.banner__info{
    padding: 145px 95px;
    max-width: 540px;
    z-index: 3;
    position: relative;
}

.banner__info h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    padding-bottom: 50px;
}

.banner__info p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 40px;
}

.banner__btn{
    border: none;
    padding: 18px 24px;
    background-color: #FFFFFF;
    color: #333136;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
}

.design{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 24px;
    grid-template-areas: "web-design app-design" "web-design graphic-design";
    margin: 160px 0;
    position: relative;
}

.design:before{
    content: url(images/design-before.svg);
    display: block;
    height: 100%;
    width: 1006px;
    top: -70%;
    left: -35%;
    position: absolute;
    z-index: -1;
}

.design h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.design p{
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.web-design{
    grid-area: web-design;
    background-image: url(images/image-web-design-large.jpg);
    width: 540px;
    height: 640px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

.graphic-design{
    grid-area: graphic-design;
    background-image: url(images/image-graphic-design.jpg);
    width: 540px;
    height: 308px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

.app-design{
    grid-area: app-design;
    background-image: url(images/image-app-design.jpg);
    width: 540px;
    height: 308px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

.about{
    display: flex;
    gap: 30px;
    position: relative;
    margin-top: 100px;
}

.about:before{
    content: url(images/about-before.png);
    position: absolute;
    top: 126px;
    right: -200px;
    width: 1006px;
    height: 100%;
    z-index: -1;
}

.about_pas,
.about_res,
.about_fri{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about h3{
    margin-bottom: 32px;
    margin-top: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    color: #333136;
    text-transform: uppercase;
}

.about p{
    font-size: 16px;
    line-height: 26px;
    color: #333136;
    text-align: center;
}

.get-in-touch{
    margin: 160px 0 -60px;
    background-color: #E7816B;
    background-image: url(images/get-in-touch-background.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 72px 95px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    z-index: 5;
}

.get-in-touch__info{
    max-width: 460px;
}

.get-in-touch__info h2{
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    max-width: 270px;
    padding-bottom: 20px;
}

.get-in-touch__info p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.get-in-touch__btn{
    border: none;
    background-color: #FFFFFF;
    color: #333136;
    text-transform: uppercase;
    padding: 17px 18px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

footer{
    background-color: #1D1C1E;
    color: #FFFFFF;
}

.footer__container{
    max-width: 1111px;
    margin: 0 auto;
    padding: 144px 0 72px;
}

.footer__top .menu{
    color: #FFFFFF;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.footer__bottom{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer__bottom span{
    font-weight: bold;
}

.footer__bottom{
    font-size: 16px;
    line-height: 26px;
}

.footer__bottom-socials{
    align-self: flex-end;
    display: flex;
    gap: 16px;
}

.footer__bottom-socials a{
    object-fit: contain;
    width: 24px;
    height: 24px;
}

.gallery{
	height: 650px;
	/* background-color: #1D1C1E; */
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slider{
	width: 100%;
	height: 100%;
	background-color: #1D1C1E;
	position: relative;
	overflow: hidden;
    margin-bottom: 20px;
    border-radius: 15px;
}

.slides{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transform: scale(1.5);
	transition: opacity ease-in .5s, transform ease-out .5s;

}

.slide1{
	background-image: url(images/slide1.jpg);
	background-size: cover;
}

.slide2{
	background-image: url(images/slide2.webp);
	background-size: cover;
}

.slide3{
	background-image: url(images/slide3.jpg);
	background-size: cover;
}

.slide4{
	background-image: url(images/slide4.jpg);
	background-size: cover;
}

.slide5{
	background-image: url(images/slide5.jpg);
	background-size: cover;
}

.controls{
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls label{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 10px;
	position: relative;
}

.controls label:before{
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid #E7816B;
	position: absolute;
	top: -5px;
	left: -5px;
}

.controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5){
	background-color: #E7816B;
}

input{
	display: none;
}

#slide1:checked ~ .slider .slide1,
#slide2:checked ~ .slider .slide2,
#slide3:checked ~ .slider .slide3,
#slide4:checked ~ .slider .slide4,
#slide5:checked ~ .slider .slide5{
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}