@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Philosopher', sans-serif;
    background: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.map{
	width: 1018px;
	height: 600px;
	background-image:url(img/mapuk.svg) ;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 1018px 635px;
	margin: 0 auto;
	position: relative;
}


.left_cover{
    position: absolute;
    top: 0;
    left: -490px;
    width: 50%;
    text-align: right;
    animation: open_left 5s ease-in-out;
    background-color: black;
}

.right_cover{
	position: absolute;
	top: 0;
	right: -490px;
	width: 50%;
	animation: open_right 5s ease-in-out;
	background-color: black;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to top, #F0FF00 0%, #0000FF 100%);
    animation: fadeInOut 3s ease-in-out;
    opacity: 0;
	z-index: 0;
}

.pointer li{
    position: absolute;
}


#link1{
	top: 155px;
    left: 460px;
}

#link2{
	top: 240px;
    left: 379px;
}

#link3{
	top: 147px;
    left: 365px;
}

#link4{
	top: 230px;
    left: 505px;
	z-index: 1;
	animation: link4 2.9s  ease-in;
}

#link5{
	bottom: 273px;
    left: 536px;
	z-index: 1;
	animation: link4 3.2s  ease-in;
}

#link6{
	top: 113px;
    right: 453px;
}

#link7{
	top: 124px;
    right: 373px
}

#link8{
	bottom: 355px;
    right: 379px;

}

#link9{
	bottom: 282px;
    right: 326px;

}
#link10{
	bottom: 343px;
    right: 252px;

}
#link11{
	bottom: 308px;
    right: 145px;

}
#link12{
	bottom: 258px;
    right: 198px;

}
#link13{
	bottom: 211px;
    right: 289px;

}
#link14{
	bottom: 184px;
    right: 372px;

}
#link15{
	bottom: 210px;
    right: 459px;

}
#link16{
	bottom: 100px;
    right: 355px;

}
#link17{
	bottom: 195px;
    left: 455px;

}
#link18{
	top: 130px;
    left: 287px;

}
#link19{
	top: 119px;
    left: 207px;

}
#link20{
	top: 217px;
    left: 301px;

}
#link21{
	top: 225px;
    left: 245px;

}
#link22{
	top: 288px;
    left: 256px;

}
#link23{
	top: 270px;
    left: 200px;

}
#link24{
	top: 279px;
    left: 134px;

}
#link25{
	top: 206px;
    left: 170px;

}

.about li{
	position: fixed;
	left: 50%;
	bottom: -550px;
	margin-bottom: -275px;
	margin-left: -275px;
	width: 550px;
	height: 550px;
	background-image:url(img/ukraine.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
	color: #000000;
	font-size: 18pt;
	z-index: 10;
	opacity: 0;
	transform: scale(1);
	transition: transform 1s ease, opacity 1s ease;
}

.about a{
	float: right;
	height: 62px;
	width: 62px;
	border-radius: 50%;
	background-color: black;
	color: white;
	font-size: 18pt;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about p{
	padding: 100px;
	padding-top: 175px;
	width: 350px;
	height: 350px;

}


#link1_about:target{
	bottom: 65%;
	opacity: 1;
}
#link2_about:target{
	bottom: 65%;
	opacity: 1;
}
#link3_about:target{
	bottom: 65%;
	opacity: 1;
}
#link4_about:target{
	bottom: 65%;
	opacity: 1;
	z-index: 1;
}
#link5_about:target{
	bottom: 65%;
	opacity: 1;
}
#link6_about:target{
	bottom: 65%;
	opacity: 1;
}
#link7_about:target{
	bottom: 65%;
	opacity: 1;
}
#link8_about:target{
	bottom: 65%;
	opacity: 1;
}
#link9_about:target{
	bottom: 65%;
	opacity: 1;
}
#link10_about:target{
	bottom: 65%;
	opacity: 1;
}
#link11_about:target{
	bottom: 65%;
	opacity: 1;
}
#link12_about:target{
	bottom: 65%;
	opacity: 1;
}
#link13_about:target{
	bottom: 65%;
	opacity: 1;
}
#link14_about:target{
	bottom: 65%;
	opacity: 1;
}
#link15_about:target{
	bottom: 65%;
	opacity: 1;
}
#link16_about:target{
	bottom: 65%;
	opacity: 1;
}
#link17_about:target{
	bottom: 65%;
	opacity: 1;
}
#link18_about:target{
	bottom: 65%;
	opacity: 1;
}
#link19_about:target{
	bottom: 65%;
	opacity: 1;
}
#link20_about:target{
	bottom: 65%;
	opacity: 1;
}
#link21_about:target{
	bottom: 65%;
	opacity: 1;
}
#link22_about:target{
	bottom: 65%;
	opacity: 1;
}
#link23_about:target{
	bottom: 65%;
	opacity: 1;
}
#link24_about:target{
	bottom: 65%;
	opacity: 1;
}
#link25_about:target{
	bottom: 65%;
	opacity: 1;
}

@keyframes open_left{
	0% ,50%{
		left: 0px;

	}
	100%{
		left: -490px;
	}
}
@keyframes open_right{
	0% ,50%{
		right: 0px;

	}
	100%{
		right: -490px;
	}
}


@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25%{
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    75%{
      opacity: 1;
    }
    100% {
      opacity: 0;
	  z-index: 0;
    }
  }

  @keyframes link4 {
    0% {
      opacity: 0;
    }
     90%{
		opacity: 0;
	 }
    100% {
      opacity: 1;
	  
    }
  }
  

